body {
  background-image: url(/wp5133885-burger-and-fries-wallpapers.jpg);
  background-size: 100%;
  color: red;
  text-align: center;
  font-size: 60px;
  padding: 20px;
  font-family: 'Hanalei Fill', cursive;
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
